body {
    background-color: #df481e
}

.logo {
    background-image: url("logo.png");
    margin-top: -15px;
    width: 100%;
    min-height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    margin-top: -16px;
    background-color: #df481e;
    width: 100%;
    height: 60px;
}

.menu ul li {
    height: 34px;
    margin-top: 3px;
    padding: 10px;
    display: inline-block;
}

.menu ul li a {
    color: rgb(68, 68, 68);
    text-decoration: none;
    font-size: 25px;
}

.menu ul li a:hover {
    color: white;
}

.menu ul li:hover {
    border-bottom: 3px solid white;
}

.slider-principal {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    margin-left: 0px;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url('SetaEsquerda.png');
    position: absolute;
    top: 45%;
    left: 0;
    margin-left: 20px;
    z-index: 9;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url('SetaDireita.png');
    position: absolute;
    top: 45%;
    right: 0;
    margin-right: 20px;
    z-index: 9;
}

.slick-dots {
    font-size: 0px;
    border: none;
    background-color: transparent;
}

.slick-dots li button {
    font-size: 0px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0%;
}

.video {
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 340px) {
    .slider-principal img {
        width: 100%;
        height: 100%;
    }

    .logo {
        background-attachment: local;
        width: 100%;
    }

    .menu {
        margin-top: -180px;
    }

    .video video {
        width: 100%;
    }
}